{% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %} 
  

</style> 
 
 <div class="alert alert-dark" role="alert">
 <p> <center> <img src="{% static 'images/ter.png'%}" alt="Trulli" width="1100 " height="700"></center></p> 

<p align="cadrd-body"> 
        
          <h5 class="card-title"><div class="alert alert-primary" role="alert">
          RESULT HIGHLIGHTS:  

      </div> </h5> 
      <div class="alert alert-warning" role="alert">
       * Hingoli district rank 1
      </div>
          <div class="alert alert-secondary" role="alert">
       * 6 students secured more than 95%
      </div>
      <div class="alert alert-success" role="alert">
      * 17 students secured more than 90%
      </div>
      <div class="alert alert-danger" role="alert">
       *  40% students secured more than 90%
      </div>
 
</div>
{% endblock %}